# Ignore node_modules directory (for React)
node_modules/

# Ignore virtual environment directory (for Django)
venv/

# Ignore any compiled Python files
*.pyc

# Ignore local configuration files
.env

# Ignore database file (SQLite)
db.sqlite3

# Ignore static files directory (if managed locally)
staticfiles/

# Ignore local settings file
local_settings.py
